    /***** UTILITIES *****/
    /* Colore sfondo */
    .bg-black {
        background-color: black;
    }
    .bg-grey {
        background-color: #363636;
    }
    .bg-white {
        background-color: white;
    }   
    .bg-orange {
        background-color: #cd3d0f ;
    } 
    /* Bottoni */
    .btn.bg-grey,
    .btn.bg-black,
    .bg-orange {
        color: white;
    }

    /***** STILIZZAZIONE HEADER *****/
    header {
        z-index: 1;
    }
    header a {
        text-decoration: none;
    }
    /* Topbar */
    .topbar img {
        width: 80px;
    }
    /* Main Menu */
    .main-menu {
        font-size: 14px;
        font-weight: 600;
    }
    .main-menu ul {
        align-items: center;
        list-style-type: none;
        margin: 0;
    }
    .main-menu li {
        cursor: pointer;
        padding-right: 22px;
    }
    .main-menu i {
        vertical-align: middle;
    }
    .main-menu .fa-chevron-down {
        margin-left: 5px;
        font-size: 12px;
        color: #999999;
    }
    .main-menu .fa-bars,
    .main-menu .fa-search {
        font-size: 20px;
    }
    .main-menu .ham-menu {
        border: 1px solid #e5e5e5;
        color: #737373;
    }

    /***** STILIZZAZIONE MAIN *****/
    /* Hero */
    #hero {
        position: relative;
        top: 110px;
        height: 580px;
        background-image: url("../img/jumbo-bg.png");
        background-size: cover;
        background-position: top;
    }