    /***** UTILITIES *****/
    /* Colore sfondo */
    .bg-black {
        background-color: black;
    }
    .bg-superdarkgrey {
        background-color: #1F1F1F;
    }
    .bg-darkgrey {
        background-color: #363636;
    }
    .bg-grey {
        background-color: #727272;
    }
    .bg-lightgrey {
        background-color: #bebcbb;
    }
    .bg-superlightgrey {
        background-color: #d9dadc;
    }
    .bg-white {
        background-color: white;
    }
    .bg-orange {
        background-color: #cd3d0f ;
    }
    .bg-darkblue {
        background-color: #161C3B;
    }
    .bg-blue {
        background-color: #2D64E6;
    }
    /* Colore testo */
    .text-darkgrey {
        color: #1f1f1f;
    }
    .text-grey {
        color: #727272;
    }
    .text-white {
        color: white;
    }
    .text-blue {
        color: #0072ce;
    }
    /* Dimensione testo */
    .text-14 {
        font-size: 14px;
    }
    .text-18 {
        font-size: 18px;
    }
    .text-20 {
        font-size: 20px;
    }
    .text-30 {
        font-size: 30px;
    }
    /* Titoli */
    h2 {
        font-size: 40px;
    }
    h3 {
        font-size: 34px;
    }
    h4 {
        font-size: 24px;
    }
    h5 {
        font-size: 21px;
    }
    /* Bottoni */
    .btn.bg-blue,
    .btn.bg-darkgrey,
    .btn.bg-superdarkgrey,
    .btn.bg-black,
    .bg-orange {
        color: white;
    }
    .btn.bg-superlightgrey {
        color: #0072ce;
    }
    .btn.bg-white {
        color: black;
    }

    /***** STILIZZAZIONE HEADER *****/
    header {
        z-index: 1;
    }
    header a {
        text-decoration: none;
    }
    /* Topbar */
    .topbar {
        height: 40px;
    }
    /* Main Menu */
    .main-menu {
        font-size: 14px;
        font-weight: 600;
    }
    .main-menu ul {
        align-items: center;
        list-style-type: none;
        margin: 0;
    }
    .main-menu li {
        cursor: pointer;
        padding-right: 22px;
    }
    .main-menu i {
        vertical-align: middle;
    }
    .main-menu .fa-chevron-down {
        margin-left: 5px;
        font-size: 12px;
        color: #999999;
    }
    .main-menu .fa-bars,
    .main-menu .fa-search {
        font-size: 20px;
    }
    .main-menu .ham-menu {
        border: 1px solid #e5e5e5;
        color: #737373;
        cursor: pointer;
    }

    /***** STILIZZAZIONE MAIN *****/
    main {
        position: relative;
        top: 114px;
    }
    /* Hero */
    #hero {
        height: 580px;
        background-image: url("../img/jumbo-bg.png");
        background-size: cover;
        background-position: top;
    }
    /* Giochi in risalto */
    #featured-games {
        margin-bottom: 100px;
    }
    #featured-games img {
        width: 100%;
        border-radius: 20px;
    }
    /* Nuovi prodotti */
    #new-products .product {
        cursor: pointer;
    }
    #new-products .product-img img {
        width: 100%;
    }
    #new-products .product-name {
        margin: 20px 0;
    }
    #new-products .product:not([class*="active"]) {
        filter: opacity(.5);
    }
    #new-products .product:not([class*="active"]):hover {
        filter: opacity(1);
    }
    #new-products .product.active .indicator {
        content: "";
        width: 90%;
        height: 2px;
        background-color: #0072CE;
        margin: 0 auto;
    }
    /* Gioco del momento */
    #best-game {
        height: 580px;
        background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
        background-size: cover;
        background-position: top;
    }
    /* Nuove uscite */
    #new-releases img {
        width: 100%;
        border-radius: 20px;
    }

    /***** STILIZZAZIONE FOOTER *****/
    

    /***** RESPONSIVE *****/
    @media screen and (min-width: 768px) {
        .w-md-50 {
            width: 50%!important;
        }
    }
    @media screen and (min-width: 768px) {
        .col-150 {
            width: 150px!important;
        }
    }