    /***** UTILITIES *****/
    /* Colore sfondo */
    .bg-black {
        background-color: black;
    }
    .bg-grey {
        background-color: #363636;
    }
    .bg-white {
        background-color: white;
    }    
    /* Bottoni */
    .btn.bg-grey,
    .btn.bg-black {
        color: white;
    }

    /* Stilizzazione header */
    header a {
        text-decoration: none;
    }
    .topbar img {
        width: 80px;
    }
    .main-menu {
        font-size: 14px;
        font-weight: 600;
    }
    .main-menu ul {
        align-items: center;
        list-style-type: none;
        margin: 0;
    }
    .main-menu li {
        cursor: pointer;
        padding-right: 22px;
    }
    .main-menu i {
        vertical-align: middle;
    }
    .main-menu .fa-chevron-down {
        margin-left: 5px;
        font-size: 12px;
        color: #999999;
    }
    .main-menu .fa-bars,
    .main-menu .fa-search {
        font-size: 20px;
    }
    .main-menu .ham-menu {
        border: 1px solid #e5e5e5;
        color: #737373;
    }